*{
    padding: 0px;
    margin: 0px;
}

body, html{
    height: 100%;
    width: 100%;
}
/* The Main container  */

.container{
    height: 100%;
    background-image: url("sign-in-background.jpg") ;
    background-position: center center ;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
}

/* 200+ chef Section*/
.chef{
height: 100%;
width: 50%;
background-color:#fd6a00;
}

/* The Craete Account Section */
.Account{
height: 100%;
width: 50%;
background-color: rgb(20, 18, 18);
opacity: 80%;
}

/* Account svg*/
.Account > svg{
 margin-left: 150px;
 margin-top: 50px;
}
 
/* Account logo */
.Account img{
    width: 100px;
    height: 100px;
    margin-left: 150px;
    margin-top: 25px;
}
/* The Account write up*/
.Account h1{
    font-family: arial;
    font-weight: bolder;
    text-decoration: solid;
    color: #fff;
    padding-left: 150px;
    padding-top: 20px;
}
/* The Buttons Setup*/
 button{
    color: white;
    height: 50px;
    width: 250px;
    background-color: rgb(0, 0, 0);
    border: 0px solid transparent;
    border-radius: 50px;
    margin-left:150px ;
    margin-top: 15px;

}
/* The writeups*/
button p{
    float: right;
    padding-right: 40px;
    padding-top: 4px;
}

button p a{
    text-decoration: none;
    color: #ffffff;
}
button:hover{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
}
/* The chef section header*/
.chef h1{
        font-size: 40px;
        font-weight: bolder;
        font-family: arial;
        color: white;
        padding-top: 90px;
        padding-left: 140px;
        word-spacing: 2px;

}
/* The chef section paragraph*/
.chef p{
    color: white;
    font-size: 18px;
    font-family: arial;
    font-weight: 700;
    padding-left: 140px;
    padding-top: 20px;
}

/* The chef section horizontal line*/
.chef fieldset{
    margin-top: 60px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: arial;
    border: 3px solid white;
    border-bottom: transparent ;
    border-left: transparent;
    border-right: transparent;
}

/* The chef section horizontal line write up */
.chef fieldset legend{
    padding-left: 15px;
    padding-right: 15px;
}
/* The chef section images */
.chef img{
    margin-left: 40px;
    margin-top: 10px;
}
/* The chef section images container */
.chefimage{
    margin-top: 30px;
}


@media screen and (max-width:620px){

    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    
    }

    body, html{
        height: 1290px;
        width: 630px;
    }

    .container{
        height: 1290px;
        display: flex;
        flex-direction:column ;
        background-image: url("sign-in-background.jpg") ;
        background-position: center center ;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    
    
    }
    /* 200+ chef Section*/
    .chef{
    height: 590px;
    width: 630px;
    background-color:#fd6a00;
    
    }
    /* The Craete Account Section */
    .Account{
    height: 700px;
    width: 630px;
    background-color: rgb(20, 18, 18);
    opacity: 80%;
    }
    /* Account svg*/
.Account > svg{
    margin-left: 20px;
    margin-top: 50px;
   }
    
   /* Account logo */
   .Account img{
       width: 100px;
       height: 100px;
       margin-left: 250px;
       margin-top: 25px;
   }
   /* The Account write up*/
   .Account h1{
       font-family: arial;
       font-weight: bolder;
       text-decoration: solid;
       color: #fff;
       padding-left: 150px;
       padding-top: 20px;
   }
   /* The Buttons Setup*/
    button{
       color: white;
       height: 50px;
       width: 250px;
       background-color: rgb(0, 0, 0);
       border: 0px solid transparent;
       border-radius: 50px;
       margin-left:180px ;
       margin-top: 15px;
   
   }
   /* The writeups*/
   button p{
       float: right;
       padding-right: 40px;
       padding-top: 4px;
   }
   
   button p a{
       text-decoration: none;
       color: #ffffff;
   }
   button:hover{
       background-color: transparent;
       cursor: pointer;
       border: 2px solid white;
   }
   /* The chef section header*/
   .chef h1{
           font-size: 20px;
           font-weight: bolder;
           font-family: arial;
           color: white;
           padding-top: 90px;
           padding-left: 140px;
           word-spacing: 2px;
   
   }
   /* The chef section paragraph*/
   .chef p{
       color: white;
       font-size: 18px;
       font-family: arial;
       font-weight: 700;
       padding-left: 140px;
       padding-top: 20px;
   }
   
   /* The chef section horizontal line*/
   .chef fieldset{
       margin-top: 60px;
       color: white;
       text-align: center;
       font-weight: bold;
       font-family: arial;
       border: 3px solid white;
       border-bottom: transparent ;
       border-left: transparent;
       border-right: transparent;
   }
   
   /* The chef section horizontal line write up */
   .chef fieldset legend{
       padding-left: 15px;
       padding-right: 15px;
   }
   /* The chef section images */
   .chef img{
       margin-left: 35px;
       margin-top: 10px;
   }
   /* The chef section images container */
   .chefimage{
       margin-top: 20px;
   }
   
}
